<!-- app/views/pages/home.html.erb -->
<div class="container mx-auto">
    <h1 class="text-4xl font-bold text-center mt-10">Welcome to the Movie Recommendation App</h1>
    <p class="text-center mt-4 pb-24">Discover movies tailored to your taste.</p>

    <section class="pb-20">
        <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
            <% if @movies.any? %>
                <!-- Display Movies -->
                <h2 class="font-manrope font-bold text-4xl text-black mb-8 max-lg:text-center">
                Results for <span class="text-red-600"><%= params[:query] %> </span>
                </h2>

                <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-8">
                <% @movies.each do |movie| %>
                    <%= link_to movie_path(movie['imdbID']), class: "mx-auto sm:mr-0 group cursor-pointer lg:mx-auto transition-all duration-500" do %>
                    <div>
                        <% if movie['Poster'] != 'N/A' %>
                        <img src="<%= movie['Poster'] %>" alt="<%= movie['Title'] %> poster" class="w-full aspect-square rounded-2xl object-cover">
                        <% else %>
                        <div class="w-full aspect-square bg-gray-200 flex items-center justify-center rounded-2xl">
                            <span>No Image Available</span>
                        </div>
                        <% end %>
                    </div>
                    <div class="mt-5">
                        <div class="flex items-center justify-between">
                        <h6 class="font-semibold text-xl leading-8 text-black transition-all duration-500 group-hover:text-red-600">
                            <%= movie['Title'] %>
                        </h6>
                        <h6 class="font-semibold text-xl leading-8 text-red-600">
                            <%= movie['Year'] %>
                        </h6>
                        </div>
                        <p class="mt-2 font-normal text-sm leading-6 text-gray-500">
                        <%= movie['Type'].capitalize %>
                        </p>
                    </div>
                    <% end %>
                <% end %>
                </div>
            <% elsif params[:query].present? %>
                <p class="max-w-2xl mx-auto text-center font-manrope font-bold text-xl text-gray-900 mb-5 md:text-xl leading-[50px]">No movies found for "<span class="text-red-600"><%= params[:query] %></span>".</p>
            <% else %>
                <p class="max-w-2xl mx-auto text-center font-manrope text-xl text-red-600 mb-5 md:text-xl leading-[50px]">Use the search bar above to find movies.</p>
            <% end %>
        </div>
    </section>
</div>